#benchmarks build artifacts
benchmarks/build/
benchmarks/*/build/
benchmarks/*/res
benchmarks/res
benchmarks/*/*.riscv32
catapult/
!catapult/genCore.py
#simulator binaries
*.sim
/build/
/.cproject
/.project
.clangd/
compile_commands.json
